.box
{
    border: 1px solid darkgray;
    padding : 10px;
    margin : 5px;   
    text-align: center;
    width:100%
}
$x: 10px;
@for $i from 1 to 7
{
    .box-s#{$i}
    {
        font-size:  $x* $i; 

        @if( $i<4)
        {
            color:red;
        }
        @else
        {
            color: green;
        }
        
    }
}
